include ../mixins/sub-menu.pug

header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.jpg", alt="Logo")

            .col-9
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li.sub-menu
                            - const productPath = '/product'
                            a(href=productPath) Sản phẩm
                            if (categoryTree)
                                +sub-menu(categoryTree, productPath)
