* {
  border: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 2px 0 #0000000d;
}
  
.header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
  color: black;
}
/* End Header */

/* Body */
.body {
    background-color: #FAFAFA;
}

.body .sider {
  width: 150px;
  background: white;
  color: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
}

.body .main {
  padding: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}
/* End Body */

/* Sider */
.sider {
    background-color: white;
    padding: 10px;
    box-shadow: 5px 0 25px 0 #5e5c9a1a;
}
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider .inner-menu ul li a {
  color: black;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #EBEBEB;
}

.sider li {
    border-radius: 5px;
}

.sider li:hover {
    background-color: #EBEBEB;
}
/* End Sider */

/* Show alert */
[show-alert] {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 999;
}

[close-alert] {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #efefef;
  text-align: center;
  line-height: 21px;
  font-weight: 600;
  cursor: pointer;
}

[show-alert].alert-hidden {
  animation: alert-out 2s;
  animation-fill-mode: both;
}

@keyframes alert-out {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}
/* End show alert */

/* Preview upload image */
[preview-image] {
  width: 180px;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin-top: 10px;
}
/* End preview upload image */

/* Card in bootstrap */
.card {
    border: 0;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
}

.card-header {
    background-color: white;
}
/* Card in bootstrap */

/* Login */
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
.login-section {
    left: 50px!important;
}
/* End login */

/* Profile */
.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}
/* End profile */

/* Logout */
.dropdown-menu .dropdown-item:active {
    background-color: #FAFAFA !important;
    color: black;
}

.dropdown-menu {
    border: none;
}
/* End logout */

