a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

/* Show alert */
[show-alert] {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 999;
}

[close-alert] {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #efefef;
    text-align: center;
    line-height: 21px;
    font-weight: 600;
    cursor: pointer;
}

[show-alert].alert-hidden {
    animation: alert-out 2s;
    animation-fill-mode: both;
}

@keyframes alert-out {
    from {
        right: 15px;
    }

    to {
        right: -100%;
        display: none;
    }
}

/* End show alert */
