mixin select-tree(tree, level=1, selected_id)
    - const prefix = Array(level + 1).join("-- ")
    each item in tree
        option(
            selected=(item.id === selected_id)
            value=item.id
        ) #{prefix}#{item.title}
        if item.children && item.children.length > 0
            +select-tree(item.children, level + 1, selected_id)
